.wrapper{
    text-align: center;
    padding: 30px 10px 10px 10px;
    border-radius: 10px;
    color: cornflowerblue;
    width: 800px;
    height: 300px;
    background-color: #2F4F4F;
}

.titleCounter{
    height: 100px;
    width: 200px;
    background-color: #7FFFD4;
    border-radius: 20px;
    padding: 10px;
}

.active{
    color: red;
}

.counter{
    color: black;
}

.background {
    background-color: yellow;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}

.defaultInput {
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    outline: none;
    border: 2px solid #64D8FB;
}

.errorInput {
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    outline: none;
    border: 2px solid #f81b1b;
    background-color: #e37c8f;
}
.titleCounter {

}