.App{
  display: inline-block;
  position: absolute;
  text-align: center;
  padding: 30px 10px 10px 10px;
  border-radius: 10px;
  color: cornflowerblue;
  width: 220px;
  height: 200px;
  background-color: #2F4F4F;
}

